#root {
  min-width: 360px;
  margin: 0 auto;
  font-family:
    SUIT Variable,
    sans-serif;
  background-image: linear-gradient(
    180deg,
    #e8e7ff 0%,
    #fdfdff 50%,
    #ffffff 100%
  );
}

::-webkit-scrollbar {
  /* Chrome, Safari, Opera */
  display: none;
}

/* 스크롤바의 전체 모양 설정 */
.showScrollbar::-webkit-scrollbar {
  display: block;
  width: 15px; /* 스크롤바의 너비 */
  height: 15px;
}

/* 스크롤바의 Track(배경) 설정 */
.showScrollbar::-webkit-scrollbar-track {
  background: #fafaff; /* 박스의 배경색과 일치 */
}

/* 스크롤바의 Thumb(스크롤바 버튼) 설정 */
.showScrollbar::-webkit-scrollbar-thumb {
  background: rgba(101, 98, 201, 0.747); /* 민트 그린 색상 */
  border-radius: 8px; /* 버튼의 모서리를 둥글게 */
  cursor: pointer;
}

.draggable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button-focus-visible:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px white;
}
