@import 'tailwindcss/base.css';
/* @import './custom-base-styles.css'; */
@import 'tailwindcss/components.css';
/* @import './custom-components.css'; */
@import 'tailwindcss/utilities.css';
/* @import './custom-utilities.css'; */

@import './App.css';
@import './Mui.css';

.flexCenter {
  @apply flex items-center justify-center;
}

.buttonStyle {
  @apply bg-primary px-4 py-1 text-white transition duration-300;
}

.markerBorder {
  position: absolute;
  width: 120%;
  height: 120%;
  pointer-events: none;
  filter: drop-shadow(rgb(137, 137, 137) 1px 2px 5px);
}

.headerDesktop {
  @apply desktop:px-4 desktop:py-2 desktop:shadow-md;
}
